.container{
    text-align: center;
    margin-top: 5%;
}
.instruction{
    font-size: 1.3em;
    flex-wrap: nowrap;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.bg-dark{
    background-color: #9068cf ;
    color: #4d425e ;
    border: none ;
    padding: 2px 10px ;
    font-size: 1.2em ;
    border-radius: 5px ;
    text-align:center
}