body
{
    margin-top: 5%;
    border: 4px solid #42355f ;
    border-radius: 20px;
    padding: 100px; 
}
.container{
    text-align: center;
}
.instruction{
    font-size: 1.6em;
    flex-wrap: nowrap;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.container label {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    text-align: center;
    white-space: nowrap;
}

#rangeRed{
order: 1;
}
#rangeBlue{
order:2;
}

#rangeGreen{
order: 3;



}

#clicker{
    background-color: #ca4c4c ;
    color: white ;
    border: none ;
    font-size: 1.2em ;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.bg-dark{
    color: #9377d4 ;
    border: none ;
    font-size: 1.2em ;
     padding: 10px;
  text-align: center;
}
.bg-dark a {
    color:plum;
}