.container{
    text-align: center;
    margin-top: 5%;
    border: 4px solid #42355f ;
    border-radius: 20px;
    padding: 100px;
}
.instruction{
    font-size: 1.3em;
    flex-wrap: nowrap;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
}

#rangeRed{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}
#rangeBlue{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 500px;

}

#rangeGreen{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 500px;
}

#clicker{
    background-color: #ca4c4c ;
    color: white ;
    border: none ;
    font-size: 1.2em ;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.bg-dark{
    color: #9377d4 ;
    border: none ;
    font-size: 1.2em ;
     padding: 10px;
  text-align: center;
}
.bg-dark a {
    color:plum;
}